@font-face {
  font-family: 'Lora', serif;
  src: url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
}

@font-face {
  font-family: 'Oxygen', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
}

* {
  padding: 0;
  margin: 0;
}

.page {
  background-color: #f7f7f7;
}

.header {
  background-color: #ffffff;
}

.header_background_grand-canyon {
  background-image: url('../images/grand-canyon.png');
  background-repeat: no-repeat;
}

.header__menu {
  font: 12px 'Oxygen', sans-serif;
}

.logo__text {
  font: 26px 'Lora', serif;
  color: #ffffff;
  text-decoration: none;
}

.logo__text_dark {
  color: #2e2e2e;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
}

.menu__link_light {
  color: #768088;
}

.menu__link_dark {
  color: #2e2e2e;
}

.menu__link_transpent {
  opacity: 60%;
}

.topic {
  color: #ffffff;
}

.topic_dark {
  color: #2e2e2e;
}

.topic__title {
  font: 50px 'Lora', serif;
  letter-spacing: 2px;
}

.topic__text {
  font: 17px 'Oxygen', serif;
  opacity: 63%;
}

.topic__button {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  background-color: #dd783f;
  border-style: none;
  cursor: pointer;
  width: 167px;
  height: 44px;
}

.article__text {
  font: 24px 'Oxygen', sans-serif;
  color: #101315;
}

.main__menu {
  font: 14px 'Lora', serif;
}

.category-header {
  font: 20px 'Oxygen', sans-serif;
  color: #2e2e2e;
}

.large-post {
  font-family: 'Oxygen', sans-serif;
  display: block;
  color: #ffffff;
  text-decoration: none;
  width: 460px;
  height: 280px;
}

.large-post_background-the-road-ahead {
  background-image: url('../images/articles/road_ahed.png');
  background-repeat: no-repeat;
}

.large-post_background-from-top-down {
  background-image: url('../images/articles/from_top_to_down.png');
  background-repeat: no-repeat;
}

.large-post__name {
  font: 27px 'Lora', serif;
}

.large-post__text {
  opacity: 70%;
  font-size: 14px;
}

.large-post__author {
  opacity: 70%;
  font-size: 12px;
}

.large-post__date {
  opacity: 70%;
  font-size: 12px;
}

.post {
  font-family: 'Oxygen', sans-serif;
  display: block;
  background-color: #ffffff;
  text-decoration: none;
  width: 296px;
  height: 291px;
}

.post__name {
  font: 16px 'Lora', serif;
  color: #101315;
}

.post__text {
  color: #7A7A7A;
  font-size: 13px;
}

.post__author {
  color: #999999;
  font-size: 12px;
}

.post__date {
  color: #999999;
  font-size: 12px;
}

.footer {
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
}

.footer__menu {
  font: 11px 'Oxygen', sans-serif;
}